//* Viewer styles
// this file contains styles for the viewer component
// styles for the viewer component should not be modified somewhere else

.viewer {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  gap: 0.3rem;

  &--align-right {
    align-items: flex-end;
  }

  h1 {
    font-size: 4.5rem;
  }

  h1,
  p {
    background-color: #2f313680;
    padding: 0.25rem 1.2rem;
    border-radius: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
    user-select: none;
  }

  .channelNameContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .client {
    display: flex;
    flex-direction: row;
    gap: 0.5rem 0.5rem;
    align-items: center;

    &--align-right {
      flex-direction: row-reverse;
    }

    // client name styles
    p {
      font-size: 4rem;
    }
  }
}
